/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Poiret+One&family=Rubik+Doodle+Triangles&family=Silkscreen:wght@400;700&family=Special+Elite&display=swap");

/* Header.js */
.header {
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: #445b1f;
    padding-top: 4%;
    font-family: "Special Elite", system-ui;
    font-size: 135%;
    font-style: normal;
    color: #b39315;
    border: 2px solid black;
}

.title h1 {
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-shadow: 3px 2px 3px #1f0d05;
}



/* modal styles */

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal Form {
    box-shadow: 1px 1px 10px #1f0d05;
    background-color: #758225;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    width: 295px;
    height: 295px;
    padding: 1.8px;
    margin-right: 10px;
  }
  
  .form {
    background-color: #44200F;
    border-radius: 15px;
    padding: 8px;
    height: 300px;
    width: 300px;
    margin-top: 200px;
    margin-left: 18px;
  }
  
  .buttons {
    padding: 10px;
  }
  
  .form button {
    width: 25%;
    margin: auto;
    padding: 3px;
    background-color: #cdb61a;
  }
  
  input[type="text"] {
    height: 25px;
    font-size: 18px;
    border-radius: 5px;
    padding: 6px;
    outline: none;
    border: none;
    background-color: #cdb61a;
    color: #44200F;
  }
  
  input[name="read"] {
    height: 45px;
    background-color: #44200F;
  }
  
  input[type="submit"] {
    width: 28%;
    margin: auto;
    padding: 3px;
    margin-right: 50px;
    background-color: #cdb61a;
    color: #44200F;
  }



